body {
    padding: 0;
    margin: 0;
}
html, body {
    height: 100%;
    width: 100%;
}
@media only screen and (min-height: 1000px) {
#map{
    height: 95%;
    width: 100%;
}
#logout_panel{
    height: 5%;
    width: 100%;
    background-color: cornflowerblue;
}
.button{
    background-color:rgb(86, 91, 95);
    border-radius: 8px;
    padding: 12px 28px;
    font-size: 20px;
    color: white;
    right: 0px;
    position: absolute;
}
}
@media only screen and (min-height: 750px) and (max-height: 999.98px) {
    #map{
        height: 94%;
        width: 100%;
    }
    #logout_panel{
        height: 6%;
        width: 100%;
        background-color: cornflowerblue;
    }
    .button{
        background-color:rgb(86, 91, 95);
        border-radius: 8px;
        padding: 10px 24px;
        font-size: 18px;
        color: white;
        right: 0px;
        position: absolute;
    }
    }
@media only screen and (min-height: 550.02px) and (max-height: 749.98px) {
    #map{
        height: 93%;
        width: 100%;
    }
    #logout_panel{
        height: 7%;
        width: 100%;
        background-color: cornflowerblue;
    }
    .button{
        background-color:rgb(86, 91, 95);
        border-radius: 8px;
        padding: 8px 20px;
        font-size: 16px;
        color: white;
        right: 0px;
        position: absolute;
    }
}
@media only screen and (max-height: 550px) {
#map{
    height: 90%;
    width: 100%;
}
#logout_panel{
    height: 10%;
    width: 100%;
    background-color: cornflowerblue;
}
.button{
    background-color:rgb(86, 91, 95);
    border-radius: 8px;
    padding: 8px 20px;
    font-size: 16px;
    color: white;
    right: 0px;
    position: absolute;
}
}