body {
    background-color:cornflowerblue;
}
h1 {
    text-align: center;
}
.form-group {
    margin-top: 30px;
    margin-bottom: 30px;
}
@media only screen and (max-height: 766.98px) {
    .container {
        padding-top: 120px;
    }
}
@media only screen and (min-height: 767px) {
    .container {
        padding-top: 200px;
    }
}
@media only screen and (min-height: 1000px) {
    .container {
        padding-top: 300px;
    }
}
