<!DOCTYPE html>
<html>
    <head>
        <title>Carte</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/static/leaflet/1.5.1/leaflet.css"/>
        <link rel="stylesheet" href="/static/style_carte.css"> 
         <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    </head>
    <body>
    <div id="portalwelcomInner" align="right">
        <form action="/logout" method="GET" target="_self">
        <button type="submit">Déconnexion</button>
        </form>
    </div>
    <div id="map"></div>
        <script src="/static/leaflet/1.5.1/leaflet.js"></script>
        <script src="/static/leaflet/realtime/leaflet-realtime.min.js"></script>
        <script src="/static/current_position.js"></script>
    </body>
</html>

